<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head")%>

  <body>
    <%- include("partials/navbar")%>
    <div class="app_body">
      <h1>Contact Us</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique
        debitis sit mollitia quae molestiae sapiente in explicabo ipsa aliquam
        nemo doloremque, repudiandae vitae quod tenetur numquam omnis
        consequuntur quaerat minima!
      </p>
    </div>
    <%- include("partials/footer")%>
  </body>
</html>
